.Header{
    font-family: Inter;
    height: 13vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #efecec;

    a{
        text-decoration: none;
        font-size: 24px;
        color: black;
        font-weight: 400;
    }

}
.userInfo{
    font-family: Inter;
    font-weight: lighter;
    font-size: 24px;

}
